################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myshop/obj
/myshop/bin/Debug/netcoreapp3.1
