@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Добро пожаловать в магазин игр!</h1>
        <p class="lead text-muted">
            В нашем магазине видеоигр вы можете преобрести самые горячие новинки по самым низким ценам!
        </p>
    </div>
</section>
